:root {
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --white-color: #ffffff;
  --accent-color: #404bbf;
  --button-color: #4d5ae5;
}

/* font-family: 'Raleway', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--main-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* =================INDEX================== */

/* COMMON STYLES */

.section-title {
  color: var(--main-color);
  font-size: 36px;
  line-height: 1.111;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/*======= HEADER NAVIGATION ======*/

.nav-logo {
  color: var(--main-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-logo span {
  color: var(--button-color);
}

.nav-link {
  color: var(--main-color);

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link {
  color: var(--secondary-color);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*=========== HERO =========*/

.hero {
  /* BG-COLOR ДЛЯ ВИГЛЯДУ */
  background-color: var(--main-color);
}

.hero-title {
  color: var(--white-color);

  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  color: var(--white-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-color);

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--accent-color);
}

/*=========== FEATURES =========*/

.features-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

/*=========== TEAM =========*/

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* text-align: center; */
  letter-spacing: 0.02em;
}

.team-position {
  line-height: 1.5;
  /* text-align: center; */
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

/*=========== FOOTER=========*/

.footer {
  /* BG-COLOR ДЛЯ ВИГЛЯДУ */
  background-color: var(--main-color);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

footer > .nav-logo {
  color: #f4f4fd;
}

/* =================PORTFOLIO================== */

/* BG-COLOR ДЛЯ ВИГЛЯДУ */
.background {
  background-color: var(--main-color);
}

.filter-btn {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--button-color);
  background-color: #f4f4fd;

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

.projects-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.projects-app {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
